<nav class="navbar navbar-default">
    <a href="/"> Reddit.js </a>
    <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
  {{!-- <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Chatoucrity Tracker
      </a>
    </div>
    <div class="pull-right">
      <a href="/charities/new" class="btn btn-default navbar-btn">New Charity</a>
    </div>
  </div> --}}
</nav>
